.myAddress .title{
	color: #666;
	line-height: 2.133333rem;
	display: block;
	background: #fff;
	font-size: 0.768rem;
	text-align: center;
}
.myAddress .address_info{
	background: #fff;
	font-size: 0.597333rem;
	padding: 0.853333rem 0.426667rem;
	margin-top: 0.426667rem;
	color: #666;
	overflow: hidden;
	line-height: 1.066667rem;
	position: relative;
}
.myAddress .address_info .address{
	overflow: hidden;
}
.myAddress .address_info .user_info span{
	font-size: 0.682667rem;
    color: #000;
    margin-right: 0.853333rem;
    margin-bottom: 0.213333rem;
    display: inline-block;
    font-weight: bold;
}