.myTitle{
  color: #666;
  line-height: 2.133333rem;
  display: block;
  background: #fff;
  font-size: 0.768rem;
  text-align: center;
}
.multitab{
  background: #fff;
  margin-bottom: 0.426667rem;
  margin-top: 0.426667rem;
}
.multitab .content{
  width: 100%;
  overflow-x: scroll;
}
.multitab .content::-webkit-scrollbar{
  display: none;  
}
.multitab .pro_list{
  overflow: hidden;
}
.multitab a{
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
  display: inline-block;
}
.multitab .list_item{
  list-style: none;
  margin: 0;
  display: inline-block;
  line-height: 1.706667rem;
  color: #666;
  font-size: 0.682667rem;
  width: 33.3333%;
  float: left;
  text-align: center;
}
.multitab .list_item.active{
  border-bottom: solid 2px #0abfff;
  color: #0abfff;
}

#wrapper {
    position:relative; 
    z-index:1;
    top:0;
    bottom:0;
    left:0;
    width:100%;
    background:#f0efef;
    overflow:auto;
    padding: 0;
}
