.mall_top{
    background: transparent;
    overflow: hidden;
    padding: .2962963rem .59259259rem;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}
.inline{
	float: left;
}
.search{
	position: relative;
    width: 88%;
}
.search img{
	position: absolute;
	right: 0.426667rem;
	top: 0.170667rem;
	width: 1.066667rem;
}
.search label{
    display: block;
    height: 1.493333rem;
}
.user{
	margin-left: .35555556rem/* 12px */;
    width: 1.33333333rem/* 45px */;
    font-size: 0.512rem;
    text-align: center;
    line-height: 0.554667rem;
    color: #fff;
    position: relative;
}
.user a{
    display: block;
    color: #fff;
    line-height: 1.493333rem;
    font-size: 0.64rem;
}
.user img{
	width: 0.853333rem;
}
.user span{
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    background: #f0ff18;
    border-radius: 20px;
    top: 5px;
    right: -6px;
}
.product_name{
	border: none;
    height: 1.455333rem;
    line-height: 1.455333rem;
    width: 100%;
    background: #fff;
    border-radius: .97777778rem/* 33px */;
    padding-left: 0.853333rem;
    font-size: 0.682667rem;
    color: #999;
    outline: none;
}
.product_name::-webkit-input-placeholder{color:#999;}